.detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "title video"
        "tablet description";
    gap: 20px;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background:  color-mix(in srgb, var(--black) 10%, transparent);
    
}


.detail-title {
 font-family: var(--titles);
 font-size: 36px;
 max-width: 40ch;
 text-align: center;
 margin-top: 70px;
}

.detail-description {
    font-family: var(--titles);
    max-width: 90ch;
    font-size: 18px;
    text-align: center;
}

.detail-actions {
    display:flex;
    flex-direction: column;
     font-family: var(--text);
     text-align: center;
     margin-top: auto;
}

.video-frame {
    border:none;
    width: 100%;
    max-width: 560px;
    height: 315px;
    display: block;
    margin: 30px;
    background: none;
}

.video {
    width: 100%;
    margin: 0 auto;
    border:none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.detail-image {
    max-width: 350px;
}

.detail-description,
.video,
.stack,
.detail-image {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}