/*Enlace que envuelve la tarjeta*/
.card-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    /*Hereda el color el del texto del contenedor*/
}

.card {
    margin-top: 25px;
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid var(--black);
    border-radius: 12px;
    overflow: hidden;
    background: var(--white);

}

.card-image {
    position: absolute;
    inset: 1;
    /* Top, right, bottom, left = 0 → ocupa todo el contenedor */
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.card-title {
    position: static;
    margin: 0;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 12px 12px;
    font-family: var(--titles);
    font-size: 22px;
    font-weight: 600px;
}

/* .card-title h3, h3.card-title {
    margin: 0;
    font-size: 20px;
    font-weight: 600px;
    text-align: center;
    font-family: var(--titles);
    padding: 10px;
    margin-bottom: 20px;

} */