/*Enlace que envuelve la tarjeta*/
.card-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    /*Hereda el color el del texto del contenedor*/
}

.card {
    margin-top: 25px;
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid var(--white);
    border-radius: 12px;
    overflow: hidden;
    background: color-mix(in srgb, var(--black) 3%, transparent);

}

.card-image {
    position: absolute;
    inset: 0;
    /* Top, right, bottom, left = 0 → ocupa todo el contenedor  */
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
   padding: 8px;
   box-sizing: border-box;
}

.card-title {
    position: static;
    margin: 0;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 12px 12px;
    font-family: var(--titles);
    font-size: 20px;
    font-weight: 600;
}

/* .card:hover, .card-image {
    transform: scale(1.2);
} */
