.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "photo text";
    gap: clamp(24px, 4vw, 72px);
    max-width: 1200px;
    margin: 0 auto;
    padding: clamp(16px, 4vw, 48px);
    align-items: start;
    /* background: (--white); */
    padding-top: clamp(84px, 13vh, 144px);
}

.profile img {
    grid-area: photo;
    width: 70%;
    height: 50vh;
    /* transform: scale(0.6); */
    object-fit: cover;
    border-radius: 4px;
    margin-top: 100px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
    transform-origin: center center;
    animation: photoShrink 800ms ease-out 300ms forwards;
    /*Nombre: photoShrink, Duración: 0.8s, Timing:ease-out (rápido
    al principio, suave al final), Delay: 0.32s, Fill mode: forwadss mantiene estado final*/

}

@keyframes photoShrink {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.95);
    }
}

.textProfile {
    grid-area: text;
    max-width: 62ch;
    font-weight: 400;
    line-height: 1.75;
    font-size: clamp(10px, 0.7vw + 7px, 15.5px);
    font-family: var(--text);
    color: var(--black);
    margin: 0;
    opacity: 0;
    transform: translateY(16px);
    animation: textRise 600ms ease-out forwards;
    margin-top: 60px;
}

.textProfile p:nth-child(1) {
    animation-delay: 180ms;
}

.textProfile p:nth-child(2) {
    animation-delay: 320ms;
}

@keyframes textRise {

    /*Nombre: textRise*/
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*RESPONSIVE MAX WIDTH 1024px*/
@media (max-width: 1024px) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "photo textProfile";
        align-items: start;
        padding: clamp(80px, 10vw, 120px);
        gap: clamp(16px, 4vw, 32px);
        box-sizing: border-box;
    }
   
    .profile img {
        grid-area: photo;
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-top: 18rem;
    }

    .textProfile {
        grid-area: textProfile;
        min-width: 0;
        /*es un seguro para grid y flex que evita que una columna con texto largo o contenido ancho empuje y rompa el layout*/
        margin-top: 190px;
    }
}



/*RESPONSIVE MAX WIDTH 480px*/
@media (max-width: 480px) {
    .profile {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "photo"
            "textProfile";
        padding: clamp(7px, 2vw, 15px);
        gap: clamp(10px, 2vw, 16px);
        box-sizing: border-box;
        /*evita desbordes por padding*/
    }

    .profile img {
        grid-area: photo;
        display: block;
        height: auto;
        width: 100%;
        object-fit: cover;
        margin-top: 150px;
    }

    .textProfile {
        grid-area: textProfile;
        min-width: 0;
        font-size: 14px;
        margin: 10px;
        
        
       
    }


}