.navbar {
    position:fixed;
    top: clamp(15px, 3vs, 25px);
    right: clamp(10px, 2vw, 24px);
    display:flex;
    gap:clamp(8px, 1.2vw, 16px);
    z-index: 1000;
}

.nav-button {
    padding: 6px 10px;
}