
  :root {

  /*COLORES*/
  --white: #EEEEEE;
  --blue: #468A9A;
  --light-brown: #965200;
  --brown: #874225;
  --dark-brown: #541212;
  --black: #0f0e0e;

  /*TIPOGRAFÍASs*/
  --titles: 'Roboto', 'Helvetica Neue', Helvetica;
  --text: 'EB Garamond', Garamond;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
