
  :root {

  /*COLORES*/
  --blanco: #EEEEEE;
  --azul: #468A9A;
  --ocre: #965200;
  --marron: #874225;
  --burdeos: #541212;
  --negro: #0f0e0e;

  /*TIPOGRAFÍA*/
  --titles: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --text: 'EB Garamond', Garamond, 'Times New Roman', serif;
}